.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
    font-size: 10vmin;
}

.square {
    justify-content: center;
    margin: auto;
    padding: 0;/* This is needed for IOS Safari, because it adds padding to buttons, which messes up the centering */
    background: #fff;
    width: 28vmin;
    height: 28vmin;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 12vmin;
    vertical-align: top;
}


.game {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.game-board {
    width: 90vmin;
    height: 90vmin;
}


